/* Lobster Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: var(--Jaune);
}

h2 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--Blanc);
}

h3 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
}

body {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--Noir); 
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
